$color-white: #FFFFFF;
$color-blue: #006DFE;

@mixin right {
    background: url("../img/svg/right.svg") no-repeat 95% center;
    transition: all .2s;
}

@mixin hoverRight {
    background: url("../img/svg/right.svg") no-repeat right 0 center;
}

@mixin title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
}

@mixin titleAfter {
    &::after {
        content: "";
        position: absolute;
        width: 253px;
        height: 3px;
        background-color: $color-blue;
        bottom: 0;
        left: 0;
    }
}

@mixin more {
    font-size: 16px;
    line-height: 24px;
    color: $color-blue;
}

@mixin like {
    background: url("../img/svg/like.svg") no-repeat right center;
}

@mixin commit {
    background: url("../img/svg/commit.svg") no-repeat right center;
}
